.container {
  margin-top: 30px;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-item-bg);
  align-items: center;
  border-radius: 3%;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

.text.text {
  font-weight: 700;
  font-size: 18px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--color-border);
  flex-shrink: 0;
}


.brandLogo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: var(--icon-filter);
}

.statusContainer {
  margin-top: auto;
}

.entertainment {
  background-color: var(--color-entertainment-bg);
}

.music {
  background-color: var(--color-music-bg);
}

.transaction {
  background-color: var(--color-transaction-bg);
}

.shopping {
  background-color: var(--color-shop-bg);
}

.date {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.statusContainer {
  display: flex;
  align-items: center;
}

.statusIcon.statusIcon {
  font-size: 18px;
}

.statusCompleted {
  color: rgba(31, 170, 71, 1);
}

.statusFailed {
  color: rgba(225, 99, 100, 1);
}

.statusPending {
  color: rgba(247, 159, 26, 1);
}

.amountContainer {
  margin-bottom: auto;
}

.amount.amount {
  margin-left: auto;
  font-weight: 700;
  font-size: 18px;
}