.container {
  margin-top: 50px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-item-bg);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--color-footer-bg);
  flex-shrink: 0;
}

.icon img {
  filter: var(--icon-filter);
}

.entertainment {
  background-color: var(--color-entertainment-bg);
}

.music {
  background-color: var(--color-music-bg);
}

.transaction {
  background-color: var(--color-transaction-bg);
}

.shopping {
  background-color: var(--color-shop-bg);
}

.statusIcon {
  width: 20px;
  height: 20px;
}

.statusCompleted {
  color: rgba(31, 170, 71, 1);
}

.statusFailed {
  color: rgba(225, 99, 100, 1);
}

.statusPending {
  color: rgba(247, 159, 26, 1);
}

.amount {
  margin-left: auto;
}
